<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link href="https://fonts.googleapis.com/css?family=Josefin+Sans|Ubuntu+Mono" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/center.css">
    <link rel="stylesheet" href="/stylesheets/recipe.css">
    <title></title>
  </head>
  <body>
    <div class="container">
      <div class="header">
        <div class="title">
          <h1>RESTful Recipes</h1>
        </div>
        <div id="new">
          <a href="/recipes/new"><button type="button">new</button></a>
        </div>
      </div>
      <form action="/" method="post">
        <%@recipes.each do |recipe|%>
          <div class="recipe">
            <a href="/recipes/<%=recipe.id%>"><p><%=recipe.name%></p></a>
            <p><%=recipe.ingredients%></p>
            <p><%=recipe.cook_time%></p>
          </div>
        <%end%>
      </form>
    </div>
  </body>
</html>
